USE [GesLune]
GO
/****** Object:  StoredProcedure [dbo].[sp_fiche_stock]    Script Date: 08/01/2025 17:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_fiche_stock]
    @Article_Id INT
AS
BEGIN
    -- Check if the article is stockable
    IF (SELECT Article_Stockable FROM Tble_Articles WHERE Article_Id = @Article_Id) = 0
    BEGIN
        -- If the article is not stockable, return an empty result set
        SELECT 
            NULL AS Date,
            NULL AS Type_De_Mouvement,
            NULL AS Document_Article_Id,
            NULL AS Document_Ligne_Article_Nom,
            NULL AS Quantité,
            NULL AS Stock_Initial,
            NULL AS Stock_Final,
            'This article is not stockable.' AS Commentaire,
            NULL AS Stock_Min,
            NULL AS Stock_Below_Min
        RETURN;
    END;

    -- If the article is stockable, proceed with the stock calculation
    WITH CTE_Stock AS (
        SELECT 
            D.Document_Date AS Date,
            DT.Document_Type_Nom AS Type_De_Mouvement,
            DL.Document_Ligne_Quantity AS Quantité,
            SUM(
                CASE 
                    WHEN DT.Document_Type_Stock_Inclus = 1 THEN DL.Document_Ligne_Quantity * DT.Document_Type_Stock_Facteur
                    ELSE 0 
                END
            ) OVER (PARTITION BY DL.Document_Article_Id ORDER BY D.Document_Date 
                    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS Stock_Final,
            D.Document_Num AS Commentaire,
            DL.Document_Ligne_Article_Nom,
            DL.Document_Article_Id,
            (SELECT Article_Stock_Min FROM Tble_Articles WHERE Article_Id = @Article_Id) AS Stock_Min
        FROM 
            Tble_Document_Lignes DL
        INNER JOIN 
            Tble_Documents D ON DL.Document_Id = D.Document_Id
        INNER JOIN 
            Tble_Document_Types DT ON D.Document_Type_Id = DT.Document_Type_Id
        WHERE 
            DL.Document_Article_Id = @Article_Id
            AND DT.Document_Type_Stock_Inclus = 1 -- Only include document types that affect stock
            AND NOT EXISTS (
                SELECT 1
                FROM Tble_Documents D2
                INNER JOIN Tble_Document_Types DT2 ON D2.Document_Type_Id = DT2.Document_Type_Id
                WHERE D2.Document_Reference_Id = D.Document_Id -- Link between documents (e.g., invoice referencing a delivery note)
                AND DT2.Document_Type_Stock_Inclus = 1
                AND DT2.Document_Type_Stock_Facteur = DT.Document_Type_Stock_Facteur -- Exclude documents that cancel each other out
            )
    )

    SELECT 
        Date,
        Type_De_Mouvement,
        Document_Article_Id,
        Document_Ligne_Article_Nom,
        Quantité,
        LAG(Stock_Final, 1, 0) OVER (PARTITION BY Document_Ligne_Article_Nom ORDER BY Date) AS Stock_Initial,
        Stock_Final,
        Commentaire,
        Stock_Min,
        CASE 
            WHEN Stock_Final < Stock_Min THEN 'Yes'
            ELSE 'No'
        END AS Stock_Below_Min
    FROM 
        CTE_Stock
    ORDER BY 
        Date;
END;
GO
