USE [GesLune]
GO
/****** Object:  StoredProcedure [dbo].[sp_save_article]    Script Date: 08/01/2025 17:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_save_article]
    @Article_Id INT = NULL, -- Permet de vérifier l'existence
    @Article_Nom NVARCHAR(200),
    @Article_Description NVARCHAR(500) = NULL,
    @Article_Prix DECIMAL(18,2),
	@Article_Stockable bit,
	@Article_Stock_Min FLOAT = 0,
	@Article_Categorie_Id INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Vérification de l'existence de l'Article
        IF EXISTS (
            SELECT 1 
            FROM Tble_Articles 
            WHERE Article_Id = @Article_Id
        )
        BEGIN
            -- Mise à jour si l'enregistrement existe
            UPDATE Tble_Articles
            SET 
                Article_Nom = @Article_Nom,
                Article_Description = @Article_Description,
				Article_Prix = @Article_Prix,
				Article_Stockable = @Article_Stockable,
				Article_Stock_Min = @Article_Stock_Min,
				Article_Categorie_Id = @Article_Categorie_Id
            WHERE Article_Id = @Article_Id;

            -- Retourner l'enregistrement mis à jour
            SELECT * FROM Tble_Articles WHERE Article_Id = @Article_Id;
        END
        ELSE
        BEGIN
            -- Insertion si l'enregistrement n'existe pas
            INSERT INTO Tble_Articles (
                Article_Nom,
                Article_Description,
				Article_Prix,
				Article_Stockable,
				Article_Stock_Min,
				Article_Categorie_Id
            )
            VALUES (
                @Article_Nom,
                @Article_Description,
                @Article_Prix,
				@Article_Stockable,
				@Article_Stock_Min,
				@Article_Categorie_Id
            );

            -- Retourner l'enregistrement nouvellement inséré
            SELECT * FROM Tble_Articles WHERE Article_Id = SCOPE_IDENTITY();
        END
    END TRY
    BEGIN CATCH
        -- Gestion des erreurs
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
