USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Articles]    Script Date: 08/01/2025 17:19:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Articles](
	[Article_Id] [int] IDENTITY(1,1) NOT NULL,
	[Article_Nom] [nvarchar](200) NOT NULL,
	[Article_Description] [nvarchar](500) NULL,
	[Article_Prix] [decimal](18, 2) NOT NULL,
	[Article_Stockable] [bit] NOT NULL,
	[Article_Stock_Min] [float] NOT NULL,
	[Article_Categorie_Id] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tble_Articles] ADD  CONSTRAINT [DF_Tble_Articles_Article_Stockable]  DEFAULT ((1)) FOR [Article_Stockable]
GO
ALTER TABLE [dbo].[Tble_Articles] ADD  CONSTRAINT [DF_Tble_Articles_Article_Stock_Min]  DEFAULT ((0)) FOR [Article_Stock_Min]
GO
ALTER TABLE [dbo].[Tble_Articles] ADD  CONSTRAINT [DF_Tble_Articles_Article_Categorie_Id]  DEFAULT ((1)) FOR [Article_Categorie_Id]
GO
