USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Article_Codes]    Script Date: 09/01/2025 16:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Article_Codes](
	[Article_Id] [int] NOT NULL,
	[Article_Code] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Tble_Article_Codes] PRIMARY KEY CLUSTERED 
(
	[Article_Id] ASC,
	[Article_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
