USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Paiement_Types]    Script Date: 08/01/2025 17:19:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Paiement_Types](
	[Paiement_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[Paiement_Type_Nom] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
