USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Paiements]    Script Date: 08/01/2025 17:19:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Paiements](
	[Paiement_Id] [int] IDENTITY(1,1) NOT NULL,
	[Paiement_Montant] [decimal](18, 2) NOT NULL,
	[Paiement_Acteur_Id] [int] NULL,
	[Paiement_Acteur_Nom] [nvarchar](50) NULL,
	[Paiement_Date] [datetime] NOT NULL,
	[Paiement_Description] [nvarchar](500) NULL,
	[Paiement_Document_Id] [int] NULL,
	[Paiement_Type_Id] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tble_Paiements] ADD  CONSTRAINT [DF_Tble_Paiements_Paiement_Type_Id]  DEFAULT ((1)) FOR [Paiement_Type_Id]
GO
