USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Document_Types]    Script Date: 08/01/2025 17:19:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Document_Types](
	[Document_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[Document_Type_Nom] [nvarchar](50) NOT NULL,
	[Document_Type_Nom_Abrege] [nvarchar](50) NOT NULL,
	[Document_Type_Acteur_Type_Id] [int] NOT NULL,
	[Document_Type_Stock_Inclus] [bit] NOT NULL,
	[Document_Type_Stock_Facteur] [int] NOT NULL,
	[Document_Type_Payable] [bit] NOT NULL,
	[Document_Type_Chiffrable] [bit] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tble_Document_Types] ADD  CONSTRAINT [DF_Tble_Document_Types_Document_Type_Acteur_Id]  DEFAULT ((1)) FOR [Document_Type_Acteur_Type_Id]
GO
ALTER TABLE [dbo].[Tble_Document_Types] ADD  CONSTRAINT [DF_Tble_Document_Types_Document_Type_Affecte_Stock]  DEFAULT ((1)) FOR [Document_Type_Stock_Inclus]
GO
ALTER TABLE [dbo].[Tble_Document_Types] ADD  CONSTRAINT [DF_Tble_Document_Types_Document_Type_Stock_Facteur]  DEFAULT ((-1)) FOR [Document_Type_Stock_Facteur]
GO
ALTER TABLE [dbo].[Tble_Document_Types] ADD  CONSTRAINT [DF_Tble_Document_Types_Document_Type_Payable]  DEFAULT ((1)) FOR [Document_Type_Payable]
GO
ALTER TABLE [dbo].[Tble_Document_Types] ADD  CONSTRAINT [DF_Tble_Document_Types_Document_Type_Chiffrable]  DEFAULT ((1)) FOR [Document_Type_Chiffrable]
GO
