USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Article]    Script Date: 26/12/2024 23:10:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Article](
	[Article_Id] [int] IDENTITY(1,1) NOT NULL,
	[Article_Nom] [nvarchar](200) NOT NULL,
	[Article_Description] [nvarchar](500) NULL,
	[Article_Prix] [decimal](18, 2) NOT NULL
) ON [PRIMARY]
GO
