USE [GesLune]
GO
/****** Object:  StoredProcedure [dbo].[sp_releve_acteur]    Script Date: 08/01/2025 17:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_releve_acteur]
    @ActeurId INT,
    @DateDu DATE,
    @DateAu DATE
AS
BEGIN
    -- Déclarer une variable pour stocker le type d'acteur
    DECLARE @ActeurType INT;

    -- Récupérer le type d'acteur (1: Fournisseur, 2: Client)
    SELECT @ActeurType = Acteur_Type_Id
    FROM Tble_Acteurs
    WHERE Acteur_Id = @ActeurId;

    -- Vérifier si l'acteur existe
    IF @ActeurType IS NULL
    BEGIN
        RAISERROR('L''acteur spécifié n''existe pas.', 16, 1);
        RETURN;
    END

    -- Convertir @DateAu en DATETIME pour inclure toute la journée
    DECLARE @DateAuDateTime DATETIME;
    SET @DateAuDateTime = CAST(@DateAu AS DATETIME) + ' 23:59:59.997';

    -- Générer le relevé en fonction du type d'acteur et de la plage de dates
    SELECT 
        MIN(Date_Transaction) AS Date_Transaction,  
        Reference,
        Acteur_Nom,
        Type_Transaction,
        Description,
        SUM(Debit) AS Total_Debit,
        SUM(Credit) AS Total_Credit,
        SUM(SUM(Credit - Debit)) 
            OVER (PARTITION BY Acteur_Nom 
                  ORDER BY MIN(Date_Transaction) 
                  ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS Solde
    FROM (
        -- Transactions de documents (factures, etc.)
        SELECT 
            CAST(Document_Date AS DATETIME) AS Date_Transaction, -- Convertir DATE en DATETIME
            Document_Num AS Reference,
            Document_Acteur_Nom AS Acteur_Nom,
            CASE 
                WHEN D.Document_Reference_Id IS NOT NULL THEN 'Transfert de document'
                ELSE Document_Type_Nom
            END AS Type_Transaction,
            Document_Nom_Ste AS Description,
            CASE 
                WHEN @ActeurType = 2 THEN Document_Ligne_Total -- Débit pour les clients
                WHEN @ActeurType = 1 THEN 0 -- Pas de débit pour les fournisseurs
            END AS Debit,
            CASE 
                WHEN @ActeurType = 2 THEN 0 -- Pas de crédit pour les clients
                WHEN @ActeurType = 1 THEN Document_Ligne_Total -- Crédit pour les fournisseurs
            END AS Credit
        FROM 
            Tble_Documents D
        JOIN 
            Tble_Document_Types DT ON D.Document_Type_Id = DT.Document_Type_Id
        JOIN 
            Tble_Document_Lignes DL ON D.Document_Id = DL.Document_Id
        JOIN 
            Tble_Acteurs A ON D.Document_Acteur_Id = A.Acteur_Id
        WHERE 
            D.Document_Acteur_Id = @ActeurId
            AND CAST(Document_Date AS DATETIME) BETWEEN @DateDu AND @DateAuDateTime -- Filtrer par plage de dates
            AND DT.Document_Type_Payable = 1 -- Inclure uniquement les documents payables
            AND NOT EXISTS (
                SELECT 1
                FROM Tble_Documents D2
                JOIN Tble_Document_Types DT2 ON D2.Document_Type_Id = DT2.Document_Type_Id
                WHERE D2.Document_Reference_Id = D.Document_Id -- Exclure les documents liés qui s'annulent
                AND DT2.Document_Type_Payable = 1
            )

        UNION ALL

        -- Transactions de paiements
        SELECT 
            Paiement_Date AS Date_Transaction,
            CAST(Paiement_Id AS VARCHAR) AS Reference,
            Paiement_Acteur_Nom AS Acteur_Nom,
            'Paiement' AS Type_Transaction,
            Paiement_Description AS Description,
            CASE 
                WHEN @ActeurType = 2 THEN 0 -- Pas de débit pour les clients
                WHEN @ActeurType = 1 THEN Paiement_Montant -- Débit pour les fournisseurs
            END AS Debit,
            CASE 
                WHEN @ActeurType = 2 THEN Paiement_Montant -- Crédit pour les clients
                WHEN @ActeurType = 1 THEN 0 -- Pas de crédit pour les fournisseurs
            END AS Credit
        FROM 
            Tble_Paiements P
        JOIN 
            Tble_Acteurs A ON P.Paiement_Acteur_Id = A.Acteur_Id
        WHERE 
            P.Paiement_Acteur_Id = @ActeurId
            AND Paiement_Date BETWEEN @DateDu AND @DateAuDateTime -- Filtrer par plage de dates
    ) AS CombinedData

    GROUP BY 
        Reference, Acteur_Nom, Type_Transaction, Description

    ORDER BY 
        MIN(Date_Transaction);
END
GO
