USE [GesLune]
GO
/****** Object:  StoredProcedure [dbo].[sp_save_utilisateur]    Script Date: 08/01/2025 17:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_save_utilisateur]
	@Utilisateur_Id int = NULL,
    @Utilisateur_Login varchar(26),
	@Utilisateur_Password varchar(26)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Vérification de l'existence de l'Article
        IF EXISTS (
            SELECT 1 
            FROM Tble_Utilisateurs 
            WHERE Utilisateur_Id = @Utilisateur_Id
        )
        BEGIN
            -- Mise à jour si l'enregistrement existe
            UPDATE Tble_Utilisateurs
            SET 
                Utilisateur_Login = @Utilisateur_Login,
                Utilisateur_Password = @Utilisateur_Password
            WHERE Utilisateur_Id = @Utilisateur_Id;

            -- Retourner l'enregistrement mis à jour
            SELECT * FROM Tble_Utilisateurs WHERE Utilisateur_Id = @Utilisateur_Id;
        END
        ELSE
        BEGIN
            -- Insertion si l'enregistrement n'existe pas
            INSERT INTO Tble_Utilisateurs(
                Utilisateur_Login,
                Utilisateur_Password
            )
            VALUES (
                @Utilisateur_Login,
				@Utilisateur_Password
            );

            -- Retourner l'enregistrement nouvellement inséré
            SELECT * FROM Tble_Utilisateurs WHERE Utilisateur_Id = SCOPE_IDENTITY();
        END
    END TRY
    BEGIN CATCH
        -- Gestion des erreurs
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
