USE [GesLune]
GO
/****** Object:  StoredProcedure [dbo].[sp_save_document]    Script Date: 08/01/2025 17:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_save_document]
    @Document_Id INT = NULL, -- Permet de vérifier l'existence
    @Document_Num VARCHAR(50) = NULL, -- Géré automatiquement si NULL
    @Document_Nom_Ste NVARCHAR(50),
    @Document_Ice VARCHAR(50),
    @Document_Date DATE,
    @Document_Acteur_Nom NVARCHAR(50),
    @Document_Acteur_Adresse NVARCHAR(200) = NULL,
    @Document_Type_Id INT,
    @Document_Acteur_Id INT,
	@Document_Reference_Id INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF EXISTS (
            SELECT 1 
            FROM Tble_Documents 
            WHERE Document_Id = @Document_Id
        )
        BEGIN
            -- Mise à jour si l'enregistrement existe
            UPDATE Tble_Documents
            SET 
                Document_Num = @Document_Num,
                Document_Nom_Ste = @Document_Nom_Ste,
                Document_Ice = @Document_Ice,
                Document_Date = @Document_Date,
                Document_Acteur_Nom = @Document_Acteur_Nom,
                Document_Acteur_Adresse = @Document_Acteur_Adresse,
                Document_Type_Id = @Document_Type_Id,
                Document_Acteur_Id = @Document_Acteur_Id,
				Document_Reference_Id = @Document_Reference_Id
            WHERE Document_Id = @Document_Id;

            -- Retourner l'enregistrement mis à jour
            SELECT * FROM Tble_Documents WHERE Document_Id = @Document_Id;
        END
        ELSE
        BEGIN
            -- Génération d'un numéro de document unique si nécessaire
            IF @Document_Num IS NULL OR TRIM(@Document_Num) = ''
            BEGIN
                DECLARE @NewNum VARCHAR(50);
                DECLARE @PreFix VARCHAR(10);

                -- Récupérer le préfixe en fonction du type de document
                SELECT @PreFix = Document_Type_Nom_Abrege 
                FROM Tble_Document_Types 
                WHERE Document_Type_Id = @Document_Type_Id;

                -- Calculer le prochain numéro
                DECLARE @Num INT;
                SELECT @Num = ISNULL(
                    MAX(CAST(SUBSTRING(Document_Num, LEN(@PreFix) + 1, LEN(Document_Num)) AS INT)), 0
                ) + 1
                FROM Tble_Documents 
                WHERE Document_Type_Id = @Document_Type_Id;

                -- Construire le nouveau numéro
                SET @NewNum = @PreFix + RIGHT('0000000' + CAST(@Num AS VARCHAR(7)), 7);
                SET @Document_Num = @NewNum;
            END

            -- Insertion si l'enregistrement n'existe pas
            INSERT INTO Tble_Documents (
                Document_Num,
                Document_Nom_Ste,
                Document_Ice,
                Document_Date,
                Document_Acteur_Nom,
                Document_Acteur_Adresse,
                Document_Type_Id,
                Document_Acteur_Id,
				Document_Reference_Id
            )
            VALUES (
                @Document_Num,
                @Document_Nom_Ste,
                @Document_Ice,
                @Document_Date,
                @Document_Acteur_Nom,
                @Document_Acteur_Adresse,
                @Document_Type_Id,
                @Document_Acteur_Id,
				@Document_Reference_Id
            );

            -- Retourner l'enregistrement nouvellement inséré
            SELECT * FROM Tble_Documents WHERE Document_Id = SCOPE_IDENTITY();
        END
    END TRY
    BEGIN CATCH
        -- Gestion des erreurs
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
