USE [GesLune]
GO
/****** Object:  View [dbo].[view_chiffre_affaire_mensuel]    Script Date: 08/01/2025 17:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_chiffre_affaire_mensuel]
AS
SELECT 
	YEAR(D.Document_Date) AS Chiffre_Affaire_Annee,
    MONTH(D.Document_Date) AS Chiffre_Affaire_Mois,
    SUM(DL.Document_Ligne_Quantity * DL.Document_Ligne_Prix_Unitaire) AS Chiffre_Affaire_Total
FROM 
    Tble_Document_Lignes DL
JOIN 
    Tble_Documents D ON DL.Document_Id = D.Document_Id
JOIN 
    Tble_Document_Types DT ON D.Document_Type_Id = DT.Document_Type_Id
WHERE 
    DT.Document_Type_Chiffrable = 1
GROUP BY 
    YEAR(D.Document_Date),
	MONTH(D.Document_Date)
GO
