USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Utilisateurs]    Script Date: 08/01/2025 17:19:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Utilisateurs](
	[Utilisateur_Id] [int] IDENTITY(1,1) NOT NULL,
	[Utilisateur_Login] [varchar](26) NOT NULL,
	[Utilisateur_Password] [varchar](26) NOT NULL
) ON [PRIMARY]
GO
