USE [GesLune]
GO
/****** Object:  StoredProcedure [dbo].[sp_save_Categorie]    Script Date: 08/01/2025 17:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_save_Categorie]
    @Categorie_Id INT = NULL, -- Permet de vérifier l'existence
    @Categorie_Nom NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Vérification de l'existence de l'Categorie
        IF EXISTS (
            SELECT 1 
            FROM Tble_Categories 
            WHERE Categorie_Id = @Categorie_Id
        )
        BEGIN
            -- Mise à jour si l'enregistrement existe
            UPDATE Tble_Categories
            SET 
                Categorie_Nom = @Categorie_Nom
            WHERE Categorie_Id = @Categorie_Id;

            -- Retourner l'enregistrement mis à jour
            SELECT * FROM Tble_Categories WHERE Categorie_Id = @Categorie_Id;
        END
        ELSE
        BEGIN
            -- Insertion si l'enregistrement n'existe pas
            INSERT INTO Tble_Categories (
                Categorie_Nom
            )
            VALUES (
                @Categorie_Nom
            );

            -- Retourner l'enregistrement nouvellement inséré
            SELECT * FROM Tble_Categories WHERE Categorie_Id = SCOPE_IDENTITY();
        END
    END TRY
    BEGIN CATCH
        -- Gestion des erreurs
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
