USE [GesLune]
GO
/****** Object:  StoredProcedure [dbo].[sp_authenticate_utilisateur]    Script Date: 08/01/2025 17:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_authenticate_utilisateur]
	@Utilisateur_Login VARCHAR(26),
	@Utilisateur_Password VARCHAR(26)
AS
BEGIN

	SELECT * FROM Tble_Utilisateurs 
		WHERE Utilisateur_Login = @Utilisateur_Login
			AND Utilisateur_Password = @Utilisateur_Password

END
GO
