USE [GesLune]
GO
/****** Object:  View [dbo].[view_etat_stock]    Script Date: 08/01/2025 17:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_etat_stock] AS
SELECT 
    A.Article_Id AS Etat_Stock_Article_Id,
    A.Article_Nom AS Etat_Stock_Article_Nom,
    SUM(
        CASE 
            WHEN DT.Document_Type_Stock_Inclus = 1 THEN ISNULL(DL.Document_Ligne_Quantity, 0) * DT.Document_Type_Stock_Facteur
            ELSE 0 
        END
    ) AS Etat_Stock_Quantity,
    A.Article_Stock_Min AS Etat_Stock_Min,
    CASE 
        WHEN SUM(
            CASE 
                WHEN DT.Document_Type_Stock_Inclus = 1 THEN ISNULL(DL.Document_Ligne_Quantity, 0) * DT.Document_Type_Stock_Facteur
                ELSE 0 
            END
        ) < A.Article_Stock_Min THEN 'Yes'
        ELSE 'No'
    END AS Etat_Stock_Below_Min
FROM 
    Tble_Articles A
LEFT JOIN 
    Tble_Document_Lignes DL ON A.Article_Id = DL.Document_Article_Id
LEFT JOIN 
    Tble_Documents D ON DL.Document_Id = D.Document_Id
LEFT JOIN 
    Tble_Document_Types DT ON D.Document_Type_Id = DT.Document_Type_Id
WHERE 
    A.Article_Stockable = 1 -- Only include stockable articles
    AND NOT EXISTS (
        SELECT 1
        FROM Tble_Documents D2
        INNER JOIN Tble_Document_Types DT2 ON D2.Document_Type_Id = DT2.Document_Type_Id
        WHERE D2.Document_Reference_Id = D.Document_Id -- Link between documents (e.g., invoice referencing a delivery note)
        AND DT2.Document_Type_Stock_Inclus = 1
        AND DT2.Document_Type_Stock_Facteur = DT.Document_Type_Stock_Facteur -- Exclude documents that cancel each other out
    )
GROUP BY 
    A.Article_Id, A.Article_Nom, A.Article_Stock_Min;
GO
