USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Document_Lignes]    Script Date: 08/01/2025 17:19:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Document_Lignes](
	[Document_Ligne_Id] [int] IDENTITY(1,1) NOT NULL,
	[Document_Ligne_Quantity] [float] NOT NULL,
	[Document_Article_Id] [int] NULL,
	[Document_Ligne_Article_Nom] [nvarchar](100) NOT NULL,
	[Document_Ligne_Prix_Unitaire] [decimal](18, 2) NOT NULL,
	[Document_Ligne_Total] [decimal](18, 2) NOT NULL,
	[Document_Id] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tble_Document_Lignes] ADD  CONSTRAINT [DF_Tble_Document_Lignes_Document_Ligne_Article_Nom]  DEFAULT (N'Article1') FOR [Document_Ligne_Article_Nom]
GO
